<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Add Notes</title>
</head>
<body>
    <div class="Notes">
        <center>
            <h4>Add Notes</h4>
            <form  method="post">
                <label for="">Enter Notes Title</label><br/>
                <input type="text" name="Notes_Title" placeholder="Title"><br/>
                <label for="">Notes:</label><br/>
                <textarea name="content" id="" placeholder="Enter your notes" rows="4" cols="50"></textarea><br/>
                <button type="submit">Save</button>
            </form>
        </center>
    </div>
</body>
</html>