{% extends 'panel.html' %}

    
<body>
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <center>
        <div class="alert">
            {{ message }}
            <span class="closebtn"
                onclick="this.parentElement.style.display='none';">x</span>
            
        </div>
    </center>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="Notes">
        <center>
            <h4>Add Notes</h4>
            <form  method="post">
                <label for="">Enter Notes Title</label><br/>
                <input type="text" name="Notes_Title" placeholder="Title"><br/>
                <label for="">Notes:</label><br/>
                <textarea name="content" id="" placeholder="Enter your notes" rows="4" cols="50"></textarea><br/>
                <button type="submit">Save</button>
            </form>
        </center>
    </div>
    {% endblock %}
</body>
