<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>SPM-Login</title>
    </head>
    <body>
        <center>
            <div>
                <div class="form">
                    <h3>Login</h3>
                    <form action method="post">
                        <label for>Email:</label><br />
                        <input type="email" name="email" id required><br />
                        <label for>Password:</label><br />
                        <input type="password" name="password" id
                            required><br />
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <center>
                <div class="alert">
                    {{ message }}
                    <span class="closebtn"
                        onclick="this.parentElement.style.display='none';">x</span>
                    
                </div>
            </center>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </center>
    </body>
</html>